/.idea
/src/__pycache__
/src/agent/__pycache__
/src/losses/__pycache__

# Keep the gitkeep
models/*
!models/.gitkeep

# Keep the gitkeep
runs/*
!runs/.gitkeep

# Keep the gitkeep
tmp/*
!tmp/.gitkeep

# Default config
/.env.json